@page "/Product"
@inject IHTTPService _http
@inject IToastService _toast

<Loader Show="@showLoader"></Loader>

<Title Icon="oi oi-tag"
       Name="Product"
       Description="In this page you can view all the Product that is saved in the system."></Title>

<Actions StatusButtonValue="@statusButtons"
         AddButtonClicked="ShowInfo"
         StatusButtonsClicked="StatusButtonClicked"
         SearchValueChanged="SearchChanged" />

<Table DataSource="productList" TItem="ProductFullInformation" ColumnCount="11" Pagination="true">
    <Columns>
        <Column Name="Select" CheckBoxHeader="true" CheckBoxValue="@selectAllValue" CheckBoxStateChanged="SelectAllChanged">
            <input class="form-check-input" type="checkbox" checked="@context.isSelect"
                   @onclick="() => SelectChanged(context)">
        </Column>
        <Column Name="Name" Label="Name" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Brand" Label="Brand" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Category" Label="Category" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Description" Label="Description" />
        <Column Name="Stock" Label="Stock" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="ReorderState" Label="ReorderState" />
        <Column Name="Status" Label="Status" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="CreatedDate" Label="Created Date" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="ModifiedDate" Label="Modified Date" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Action" Label="Action">
            <button class="cstm-table-button" title="Edit"
                    @onclick="() => ShowInfo(context.ProductID)">
                <span class="oi oi-pencil" aria-hidden="true"></span>
            </button>
        </Column>
    </Columns>
</Table>

<ProductInfoComponent @ref="productInfo" ProductInfoResponse="GetResponse"></ProductInfoComponent>

@code {
    private bool showLoader = false;
    private bool selectAllValue = false;
    private bool statusButtons = true;

    private ProductInfoComponent? productInfo;
    private List<ProductFullInformation> productList = new List<ProductFullInformation>();

    #region Event Handler Functions
    protected override async Task OnInitializedAsync()
    {
        showLoader = true;
        //Delay Process for .5 second
        await Task.Delay(Constants.DELAY_PROCESS);
        await PopulateProducts();
        showLoader = false;
    }

    private async Task ShowInfo(Guid id)
    {
        SelectAllChanged(false);

        if (productInfo == null)
            return;

        await productInfo.InitializeProduct(id);
    }

    private async Task SearchChanged(string query)
    {
        await PopulateProducts(query);
    }

    private async Task StatusButtonClicked(int value)
    {
        var functionID = string.Empty;
        switch (value)
        {
            case Constants.STATUS_ENABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_PRODUCT_BY_ADMIN;
                break;
            case Constants.STATUS_DISABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_PRODUCT_BY_ADMIN;
                break;
            default:
                functionID = Constants.FUNCTION_ID_BULK_DELETE_PRODUCT_BY_ADMIN;
                break;
        }
        await UpdateStatusByIDs(functionID, Constants.REQUEST_STATUS_COMPLETED, value);
    }

    private async Task GetResponse(Response res)
    {
        if (res != null && res.Result == ResponseResult.SUCCESS)
        {
            await PopulateProducts();
            _toast.ShowSuccess(res.Data);
        }
    }

    private void SelectChanged(ProductFullInformation product)
    {
        product.isSelect = !product.isSelect;
        EnableStatusButtons();
    }

    private void SelectAllChanged(bool value)
    {
        selectAllValue = value;
        foreach (var Product in productList)
        {
            Product.isSelect = value;
        }
        EnableStatusButtons();
    }

    private void SortChanged(SortSetting sort)
    {
        productList = Utility.SortList<ProductFullInformation>(productList, sort);
    }
    #endregion

    #region Common Functions
    private async Task PopulateProducts(string? query = null)
    {
        selectAllValue = false;

        Response response;
        if (string.IsNullOrEmpty(query))
            response = await _http.GetRequestAsync(Globals.GET_PRODUCTS, Globals.ClientInformation.ClientID);
        else
            response = await _http.GetRequestAsync(Globals.GET_PRODUCTS_BY_QUERY, Globals.ClientInformation.ClientID, query);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }

        productList = JsonConvert.DeserializeObject<List<ProductFullInformation>>(response.Data)!;
        EnableStatusButtons();
    }

    private async Task UpdateStatusByIDs(string functionID, string requestStatus, int newStatus)
    {
        var request = new UpdateStatusByGUIDsRequest
            {
                FunctionID = functionID,
                RequestStatus = requestStatus,
                client = Globals.ClientInformation,
                IDs = productList.Where(data => data.isSelect)
                                   .Select(data => data.ProductID)
                                   .ToList(),
                newStatus = newStatus
            };

        var response = await _http.PostRequestAsync(Globals.POST_UPDATE_PRODUCT_STATUS_BY_IDS, request);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }
        await PopulateProducts();
        _toast.ShowSuccess(response.Data);
    }

    private void EnableStatusButtons()
    {
        statusButtons = productList.Where(data => data.isSelect).Count() == 0;
    }
    #endregion
}
