@page "/User"
@inject IHTTPService _http
@inject IToastService _toast

<Loader Show="@showLoader"></Loader>

<UserInfoComponent @ref="userInfo" UserInfoResponse="GetResponse" />

<Title Icon="oi oi-person"
       Name="User"
       Description="In this page you can view all the User that is saved in the system." />

<Actions StatusButtonValue="@statusButtons" 
         AddButtonClicked="ShowInfo"
         StatusButtonsClicked="StatusButtonClicked"
         SearchValueChanged="SearchChanged" />

<Table DataSource="userList" TItem="UserFullInformation" ColumnCount="11" Pagination="true">
    <Columns>
        <Column Name="Select" CheckBoxHeader="true" CheckBoxValue="@selectAllValue" CheckBoxStateChanged="SelectAllChanged">
            <input class="form-check-input" type="checkbox" checked="@context.isSelect" 
                   @onclick="() => SelectChanged(context)">
        </Column>
        <Column Name="Email" Label="Email" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Username" Label="Username" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Name" Label="Name" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Password" Label="Password" />
        <Column Name="IsEmailConfirmed" Label="Email Confirmed" />
        <Column Name="RoleName" Label="Role" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Status" Label="Status" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="CreatedDate" Label="Created Date" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="ModifiedDate" Label="Modified Date" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Action" Label="Action">
            <button class="cstm-table-button" title="Edit" 
                    @onclick="() => ShowInfo(context.UserID)">
                <span class="oi oi-pencil" aria-hidden="true"></span>
            </button>
        </Column>
    </Columns>
</Table>

@code {
    private bool showLoader = false;
    private bool selectAllValue = false;
    private bool statusButtons = true;

    private UserInfoComponent? userInfo;
    private List<UserFullInformation> userList = new List<UserFullInformation>();

    #region Event Handler Functions
    protected override async Task OnInitializedAsync()
    {
        showLoader = true;
        ////Delay Process for .5 second
        await Task.Delay(Constants.DELAY_PROCESS);
        await PopulateUsers();
        showLoader = false;
    }

    private async Task ShowInfo(Guid id)
    {
        SelectAllChanged(false);

        if (userInfo == null)
            return;

        await userInfo.InitializeUser(id);
    }

    private async Task SearchChanged(string query)
    {
        await PopulateUsers(query);
    }

    private async Task StatusButtonClicked(int value)
    {
        var functionID = string.Empty;
        switch (value)
        {
            case Constants.STATUS_ENABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_USER_BY_ADMIN;
                break;
            case Constants.STATUS_DISABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_USER_BY_ADMIN;
                break;
            default:
                functionID = Constants.FUNCTION_ID_BULK_DELETE_USER_BY_ADMIN;
                break;
        }
        await UpdateStatusByIDs(functionID, Constants.REQUEST_STATUS_COMPLETED, value);
    }

    private async Task GetResponse(Response res)
    {
        if (res != null && res.Result == ResponseResult.SUCCESS)
        {
            await PopulateUsers();
            _toast.ShowSuccess(res.Data);
        }
    }

    private void SelectChanged(UserFullInformation user)
    {
        user.isSelect = !user.isSelect;
        EnableStatusButtons();
    }

    private void SelectAllChanged(bool value)
    {
        selectAllValue = value;
        foreach (var user in userList)
        {
            user.isSelect = value;
        }
        EnableStatusButtons();
    }

    private void SortChanged(SortSetting sort)
    {
        userList = Utility.SortList<UserFullInformation>(userList, sort);
    }
    #endregion

    #region Common Functions
    private async Task PopulateUsers(string? query = null)
    {
        selectAllValue = false;

        Response response;
        if (string.IsNullOrEmpty(query))
            response = await _http.GetRequestAsync(Globals.GET_USERS, Globals.ClientInformation.ClientID);
        else
            response = await _http.GetRequestAsync(Globals.GET_USERS_BY_QUERY, Globals.ClientInformation.ClientID, query);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }

        userList = JsonConvert.DeserializeObject<List<UserFullInformation>>(response.Data)!;
        EnableStatusButtons();
    }

    private async Task UpdateStatusByIDs(string functionID, string requestStatus, int newStatus)
    {
        var request = new UpdateStatusByGUIDsRequest
            {
                FunctionID = functionID,
                RequestStatus = requestStatus,
                client = Globals.ClientInformation,
                IDs = userList.Where(data => data.isSelect)
                              .Select(data => data.UserID)
                              .ToList(),
                newStatus = newStatus
            };

        var response = await _http.PostRequestAsync(Globals.POST_UPDATE_USER_STATUS_BY_IDS, request);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }
        await PopulateUsers();
        _toast.ShowSuccess(response.Data);
    }

    private void EnableStatusButtons()
    {
        statusButtons = userList.Where(data => data.isSelect).Count() == 0;
    }
    #endregion
}
