<div class="mb-3">
    <label class="form-label">@Label</label>
    <input type="number" class="form-control" disabled="@(!ControlEnableState)" @bind="@BindingValue">
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool ControlEnableState { get; set; } = true;

    private int _value;
    [Parameter]
    public int BindingValue
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            BindingValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> BindingValueChanged { get; set; }
}
