<PageTitle>@Name</PageTitle>
<div class="cstm-page-title">
    <div class="icon">
        <span class="@Icon" aria-hidden="true"></span>
    </div>
    <div>
        <div class="name">@Name</div>
        <div class="desc">@Description</div>
    </div>
</div>

@code {
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Description { get; set; }
}
