@if (showBox)
{
    <!-- Modal -->
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@title</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="() => OnChoiceChange(false)"></button>
                </div>
                <div class="modal-body">
                    @message
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="() => OnChoiceChange(false)">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" @onclick="() => OnChoiceChange(true)">Yes</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool showBox { get; set; }
    private string title { get; set; }
    private string message { get; set; }

    [Parameter]
    public EventCallback<bool> Result { get; set; }

    public void Show(string ttl, string msg)
    {
        title = ttl;
        message = msg;
        showBox = true;
        StateHasChanged();
    }

    protected async Task OnChoiceChange(bool value)
    {
        showBox = false;
        await Result.InvokeAsync(value);
    }
}
