@page "/counter"

<Title Icon="C:\Portfolio\allout-system\Code\AllOut.Desktop\AllOut.Desktop\Images\icons8-add-user-male-96.png"
       Name="Counter" 
       Description="Data count" />

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
