@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem

<table class="cstm-table">
    <thead>
        <tr>
            @Columns(default(TItem))
        </tr> 
    </thead>
    <tbody>
        @if (DataSource != null && DataSource.Count == 0)
        {
            var properties = DataSource.GetType().GetProperties().Count();
            <tr>
                <td colspan="@properties">
                    <div class="cstm-no-records">
                        @Constants.ERROR_NO_RECORDS
                    </div>
                </td>
            </tr>
        }
        else if (DataSource != null)
        {
            @foreach (var data in DataSource)
            {
                <CascadingValue Value="data">
                    <tr>
                        @Columns(data)
                    </tr>
                </CascadingValue>
            }
        }
    </tbody>
</table>
@code {
    [Parameter]
    public List<TItem> DataSource { get; set; }

    [Parameter]
    public RenderFragment<TItem>? Columns { get; set; }
}
