@page "/Brand"
@inject IHTTPService _http
@inject IToastService _toast

<Loader Show="@showLoader"></Loader>

<BrandInfoComponent @ref="brandInfo" BrandInfoResponse="GetResponse" />

<Title Icon="oi oi-tag"
       Name="Brand"
       Description="In this page you can view all the Brand that is saved in the system." />

<Actions StatusButtonValue="@statusButtons" 
         AddButtonClicked="ShowInfo"
         StatusButtonsClicked="StatusButtonClicked"
         SearchValueChanged="SearchChanged" />

<Table DataSource="brandList" TItem="Brand" ColumnCount="7">
    <Columns>
        <Column Name="Select" CheckBoxHeader="true" CheckBoxValue="@selectAllValue" CheckBoxStateChanged="SelectAllChanged">
            <input class="form-check-input" type="checkbox" checked="@context.isSelect" 
                   @onclick="() => SelectChanged(context)">
        </Column>
        <Column Name="Name" Label="Name" />
        <Column Name="Description" Label="Description" />
        <Column Name="Status" Label="Status" />
        <Column Name="CreatedDate" Label="Created Date" />
        <Column Name="ModifiedDate" Label="Modified Date" />
        <Column Name="Action" Label="Action">
            <button class="cstm-table-button" title="Edit" 
                    @onclick="() => ShowInfo(context.BrandID)">
                <span class="oi oi-pencil" aria-hidden="true"></span>
            </button>
        </Column>
    </Columns>
</Table>

@code {
    private bool showLoader = false;
    private bool selectAllValue = false;
    private bool statusButtons = true;

    private BrandInfoComponent? brandInfo;
    private List<Brand> brandList = new List<Brand>();

    #region Event Handler Functions
    protected override async Task OnInitializedAsync()
    {
        showLoader = true;
        ////Delay Process for .5 second
        await Task.Delay(Constants.DELAY_PROCESS);
        await PopulateBrands();
        showLoader = false;
    }

    private async Task ShowInfo(Guid id)
    {
        SelectAllChanged(false);

        if (brandInfo == null)
            return;

        await brandInfo.InitializeBrand(id);
    }

    private async Task SearchChanged(string query)
    {
        await PopulateBrands(query);
    }

    private async Task StatusButtonClicked(int value)
    {
        var functionID = string.Empty;
        switch (value)
        {
            case Constants.STATUS_ENABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_BRAND_BY_ADMIN;
                break;
            case Constants.STATUS_DISABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_BRAND_BY_ADMIN;
                break;
            default:
                functionID = Constants.FUNCTION_ID_BULK_DELETE_BRAND_BY_ADMIN;
                break;
        }
        await UpdateStatusByIDs(functionID, Constants.REQUEST_STATUS_COMPLETED, value);
    }

    private async Task GetResponse(Response res)
    {
        if (res != null && res.Result == ResponseResult.SUCCESS)
        {
            await PopulateBrands();
            _toast.ShowSuccess(res.Data);
        }
    }

    private void SelectChanged(Brand brand)
    {
        brand.isSelect = !brand.isSelect;
        EnableStatusButtons();
    }

    private void SelectAllChanged(bool value)
    {
        selectAllValue = value;
        foreach (var brand in brandList)
        {
            brand.isSelect = value;
        }
        EnableStatusButtons();
    }
    #endregion

    #region Common Functions
    private async Task PopulateBrands(string? query = null)
    {
        selectAllValue = false;

        Response response;
        if (string.IsNullOrEmpty(query))
            response = await _http.GetRequestAsync(Globals.GET_BRANDS, Globals.ClientInformation.ClientID);
        else
            response = await _http.GetRequestAsync(Globals.GET_BRANDS_BY_QUERY, Globals.ClientInformation.ClientID, query);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }

        brandList = JsonConvert.DeserializeObject<List<Brand>>(response.Data)!;
        EnableStatusButtons();
    }

    private async Task UpdateStatusByIDs(string functionID, string requestStatus, int newStatus)
    {
        var request = new UpdateStatusByGUIDsRequest
            {
                FunctionID = functionID,
                RequestStatus = requestStatus,
                client = Globals.ClientInformation,
                IDs = brandList.Where(data => data.isSelect)
                                   .Select(data => data.BrandID)
                                   .ToList(),
                newStatus = newStatus
            };

        var response = await _http.PostRequestAsync(Globals.POST_UPDATE_BRAND_STATUS_BY_IDS, request);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }
        await PopulateBrands();
        _toast.ShowSuccess(response.Data);
    }

    private void EnableStatusButtons()
    {
        statusButtons = brandList.Where(data => data.isSelect).Count() == 0;
    }
    #endregion
}
