@page "/Sales"
@inject IHTTPService _http
@inject IToastService _toast

<Loader Show="@showLoader"></Loader>

<Title Icon="oi oi-bar-chart"
       Name="Sales"
       Description="In this page you can view all the Sales that is saved in the system." />

<Actions StatusButtonValue="@statusButtons" 
         AddButtonClicked="ShowInfo"
         StatusButtonsClicked="StatusButtonClicked"
         SearchValueChanged="SearchChanged" />

<Table DataSource="salesList" TItem="SalesFullInformation" ColumnCount="14" Pagination="true">
    <Columns>
        <Column Name="Select" CheckBoxHeader="true" CheckBoxValue="@selectAllValue" CheckBoxStateChanged="SelectAllChanged">
            <input class="form-check-input" type="checkbox" checked="@context.isSelect" 
                   @onclick="() => SelectChanged(context)">
        </Column>
        <Column Name="SalesID" Label="ID" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="CashierName" Label="Person Incharged" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="TotalItems" Label="No. of Items" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="TotalAdditional" Label="Additional Charges" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="TotalDeduction" Label="Deductions" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Total" Label="Total" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="AmountPaid" Label="Amount Paid" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Change" Label="Change" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Remarks" Label="Remarks" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Status" Label="Status" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="CreatedDate" Label="Created Date" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="ModifiedDate" Label="Modified Date" Sortable="true" SortStateChanged="SortChanged" />
        <Column Name="Action" Label="Action">
            <button class="cstm-table-button" title="Edit" 
                    @onclick="() => ShowInfo(context.SalesID)">
                <span class="oi oi-pencil" aria-hidden="true"></span>
            </button>
        </Column>
    </Columns>
</Table>

@code {
    private bool showLoader = false;
    private bool selectAllValue = false;
    private bool statusButtons = true;

    private List<SalesFullInformation> salesList = new List<SalesFullInformation>();

    #region Event Handler Functions
    protected override async Task OnInitializedAsync()
    {
        showLoader = true;
        ////Delay Process for .5 second
        await Task.Delay(Constants.DELAY_PROCESS);
        await PopulateSales();
        showLoader = false;
    }

    private async Task ShowInfo(object id)
    {
        SelectAllChanged(false);

        //if (inventoryInfo == null)
        //    return;

        //var param = id == null ? string.Empty : (string)id;
        //await inventoryInfo.InitializeInventory(param);
    }

    private async Task SearchChanged(string query)
    {
        await PopulateSales(query);
    }

    private async Task StatusButtonClicked(int value)
    {
        var functionID = string.Empty;
        switch (value)
        {
            case Constants.STATUS_ENABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_SALES_BY_ADMIN;
                break;
            case Constants.STATUS_DISABLED_INT:
                functionID = Constants.FUNCTION_ID_BULK_CHANGE_SALES_BY_ADMIN;
                break;
            default:
                functionID = Constants.FUNCTION_ID_BULK_DELETE_SALES_BY_ADMIN;
                break;
        }
        await UpdateStatusByIDs(functionID, Constants.REQUEST_STATUS_COMPLETED, value);
    }

    private async Task GetResponse(Response res)
    {
        if (res != null && res.Result == ResponseResult.SUCCESS)
        {
            await PopulateSales();
            _toast.ShowSuccess(res.Data);
        }
    }

    private void SelectChanged(SalesFullInformation inventory)
    {
        inventory.isSelect = !inventory.isSelect;
        EnableStatusButtons();
    }

    private void SelectAllChanged(bool value)
    {
        selectAllValue = value;
        foreach (var sales in salesList)
        {
            sales.isSelect = value;
        }
        EnableStatusButtons();
    }

    private void SortChanged(SortSetting sort)
    {
        salesList = Utility.SortList<SalesFullInformation>(salesList, sort);
    }
    #endregion

    #region Common Functions
    private async Task PopulateSales(string? query = null)
    {
        selectAllValue = false;

        Response response;
        if (string.IsNullOrEmpty(query))
            response = await _http.GetRequestAsync(Globals.GET_SALES, Globals.ClientInformation.ClientID);
        else
            response = await _http.GetRequestAsync(Globals.GET_SALES_BY_QUERY, Globals.ClientInformation.ClientID, query);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }

        salesList = JsonConvert.DeserializeObject<List<SalesFullInformation>>(response.Data)!;
        EnableStatusButtons();
    }

    private async Task UpdateStatusByIDs(string functionID, string requestStatus, int newStatus)
    {
        var request = new UpdateStatusByStringIDsRequest
            {
                FunctionID = functionID,
                RequestStatus = requestStatus,
                client = Globals.ClientInformation,
                IDs = salesList.Where(data => data.isSelect)
                                   .Select(data => data.SalesID)
                                   .ToList(),
                newStatus = newStatus
            };

        var response = await _http.PostRequestAsync(Globals.POST_UPDATE_SALES_STATUS_BY_IDS, request);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }
        await PopulateSales();
        _toast.ShowSuccess(response.Data);
    }

    private void EnableStatusButtons()
    {
        statusButtons = salesList.Where(data => data.isSelect).Count() == 0;
    }
    #endregion
}
